<mat-card appearance="outlined" class="header">
</mat-card>
<div class="row">
  <div class="col-md-6">
    <mat-card appearance="outlined" class="leftheader">
      <img src="backgroud.jpeg">
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card appearance="outlined" class="rightheader">
      <form class="form">
        <div class="row">
          <strong>Login</strong>
          <mat-card appearance="outlined">
            <br />
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>User Name</mat-label>
                  <input matInput type="text" class=""  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button mat-raised-button>Login</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a mat-button>Forgotten Password ?</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a mat-button routerLink="/register">Sign Up</a>
              </div>
            </div>
          </mat-card>
        </div>
      </form>
    </mat-card>
  </div>
</div>