.header {
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px;
    margin-bottom: 10px;
}

.leftheader {
    height: 450px;
    margin-left: 10px;
    margin-right: -20px;
}

.rightheader {
    height: 450px;
    margin-right: 10px;
}
.form {
    margin-top: 80px;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    height: 400px;
}

  input {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: center;
    color: currentColor;
  }
 

@media screen and (max-width: 500px) {
    .header {
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 12px;
        margin-bottom: 10px;
    }
    
    .leftheader {
        height: 200px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .rightheader {
        height: 450px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .form {
        margin-top: 80px;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        height: 400px;
        width: 300px;
    }
     .mat-mdc-button-base {
        margin: 8px 8px 8px 0;
      }
}